mat-card{
    padding:20px
}
mat-form-field{
    width:46%;
    margin-left:0px;
    margin-bottom:30px
}


div.form-wpr{
    border:1px solid transparent;
    border-radius:10px;
    padding:20px;
    margin:auto;
    background:rgb(240, 240, 240)
    }

 .login-card{
    max-width: 500px;
  }

  @media only screen and (min-width:768px) {
    mat-card{
        padding:50px 30px 50px 30px
    }
    mat-form-field{
        width:45%;
        margin-left:10px;
        margin-bottom:10px
    }
}