<div class="container-fluid">
    <p class="updatetime">Last updated: {{tileData.lastUpdated}}</p>    
  <div class="row tiles-row justify-content-center">
    <div *ngFor="let tile of tileData.parameters" class="col-sm-6 col-lg tile-wpr ">
      <div class="inr-wpr cursor" (click)="load_on_param_click(tile.name)">
        <div class="tile">
          <div class="d-flex justify-content-center align-items-center tile-header">
            <h6 class="lead  pHead">{{tile.name | titlecase}}</h6>
          </div>
          <div class="d-flex justify-content-center align-items-center tile-content">
            <img [src]="tile.icon" width="35" class="mr-2 mb-1" />
              <h5 class="pVal ml-2">{{tile.value}} {{tile.unit}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>