div.tl-wpr{
    padding-top:40px;
    color:white
}
div.tiles{
    height:200px;
    border-top:40px solid rgb(0, 153, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:gray;
    background:white;
    width:80%;
    text-align: left;
    padding-top:20px 10px 10px 10px;
    margin:auto;
    box-shadow:2px 2px 2px rgba(0,0,0,0.2)
}

div.crd{
    background-color:white;
    border-radius:2px;
    box-shadow:1px 2px 2px rgba(0,0,0,0.3)
}

div.crd-left{
    width:30%;
    height:100px;
    color:white;
    background:rgb(158, 45, 83)
}

div.crd-right{
    width:70%;
    height:100px;    

}